# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Air Hockey Photon.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Fedor\Documents\Workshop Projects\Productions\Air Hockey Photon\.idea\.idea.Air Hockey Photon\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
